html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  display: flex;
}

button {
  background-color: #222;
  color: #fff;
  border: none;
  padding: 4px 8px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 2px;
}

button:hover {
  background-color: #555;
}

button:active {
  background-color: #777;
}

#toolbar {
  width: 200px;
  height: 100%;
  background-color: #222;
  color: #fff;
  box-sizing: border-box;
  flex-shrink: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

#toolbar h2 {
  margin-top: 15px;
  font-size: 1.2rem;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

#toolbar label {
  display: block;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

#toolbar input,
#toolbar select {
  display: block;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

#toolbar input[type="number"] {
  padding: 4px;
  box-sizing: border-box;
  margin: 0 10px 20px 10px;
  width: calc(100% - 20px);
}

#toolbar input[type="checkbox"] {
  margin-right: 5px;
  background-color: #222;
  color: #fff;
  border: 1px solid #555;
  appearance: none;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  margin-top: 20px;
}

#toolbar input[type="checkbox"]:checked {
  background-color: #555;
}

#toolbar input[type="checkbox"]::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="%23fff" d="M6.173 11.414l-3.536-3.536 1.414-1.414 2.122 2.122 4.95-4.95 1.414 1.414z"/></svg>');
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
}

#toolbar input[type="checkbox"]:checked::before {
  opacity: 1;
}

#toolbar input[type="checkbox"]#staggeredStart {
  display: inline-block;
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
}

#staggeredStartLabel {
  margin-top: 10px;
  text-align: center;
}

#toolbar input[type="number"],
#toolbar input[type="checkbox"] {
  background-color: #222;
  color: #fff;
  border: 1px solid #555;
  padding: 4px;
  box-sizing: border-box;
}

#toolbar input[type="number"]::placeholder {
  color: #bbb;
}

#toolbar select {
  width: 100%;
  padding: 4px;
  background-color: #222;
  color: #fff;
  border: 1px solid #555;
  margin-bottom: 10px;
  box-sizing: border-box;
  margin: 0 10px 20px 10px;
  width: calc(100% - 20px);
}

#chart {
  position: absolute;
  width: 100%;
  height: 75px;
  background-color: #101017;
  display: flex;
  align-self: flex-end;
  margin-bottom: 0px;
  bottom: 0;
}

#canvasContainer {
  flex-grow: 1;
  position: relative;
}

#toggleButton {
  position: absolute;
  top: 0px;
  left: 180px;
  font-weight: bold;
  padding: 16px 6px;
  z-index: 1500;
  border-radius: 0px;
}

#resetButton {
  display: inline-block;
  width: 150px;
  margin: 0px auto;
  margin-top: 10px;
  font-weight: bold;
  padding: 8px 5px;
  z-index: 1500;
  border-radius: 2px;
  color: #fff;
  border: 1px solid #555;
  align-self: center;
}

.settings-group {
  display: block;
}

.settings-group-reset {
  
}